.vcs-header-selected {
  border-bottom: 5px solid;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border-image: linear-gradient(to right, rgb(33, 88, 165), rgb(154, 101, 250))1;
}